@import "variables";

.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 100px 50px;
}

.contact-info {
  width: 40%;

  h2 {
    @include title();
    margin-bottom: 10px;
  }

  p {
    @include desc();
    margin-bottom: 30px;
  }

  address {
    width: 345px;
    background: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    gap: 10px;

    .title {
      font-weight: bold;
      font-size: 1.3em;
      color: #223843;
      margin-bottom: 10px;
    }

    .info {
      margin: 0;
      line-height: 100%;
      display: flex;
      align-items: center;
    }

    .icon {
      width: 24px;
      aspect-ratio: 1;
      margin-right: 7px;
    }
  }
}



.contact-form {
  max-width: 600px;
  width: 100%;
  background: $white;
  padding: 20px;
  border-radius: 20px;

  form {

    p {
      margin-bottom: 15px;
    }

    label {
      font-size: 1em;
      font-weight: 600;
    }

    input, textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1em;
      margin-top: 8px;
      margin-bottom: 8px;
      font-family: "Lexend", Montserrat, Helvetica, Arial, sans-serif;


      &:focus {
        border: 2px solid $blue;
      }

      &::placeholder {
        font-family: "Lexend", Montserrat, Helvetica, Arial, sans-serif;
        color: rgba(0, 0, 0, 0.3);
      }

    }

    input {
      width: 94%;
    }

    textarea {
      width: 94%;
      resize: vertical;
    }


    .wpcf7-submit {
      text-align: center;
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      color: white;
      background-color: $blue;
      border-radius: 10px;
      border: 2px $blue solid;
      box-shadow: 3px 6px 10px 1px rgba(0, 0, 0, 0.2);
      transition: ease-in 0.1s;
    }

    .wpcf7-submit:hover {
      text-decoration: underline;
      background-color: $blue-hover;
    }

    div.wpcf7-response-output {
      width: inherit;
      border-radius: 8px;
    }
  }


}


@media screen and (max-width: 1244px) {
  .contact-section {
    .contact-info {
      max-width: 600px;
      width: 100%;
      margin-bottom: 30px;

      .description {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .contact-section .contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .contact-info address {
    width: 90%;
  }
}
@media screen and (max-width: 410px) {
  address {
    .title {
      text-align: center;
    }
    .info {
      flex-direction: column;
      gap: 7xp;
    }
  }
}




