@import "variables";

.contact-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px;
  gap: 5%;
}

.contact-info {
  width: 40%;

  h2 {
    @include title();
    margin-bottom: 10px;
  }

  p {
    @include desc();
    margin-bottom: 30px;
  }

  address {
    width: 345px;
    background: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    gap: 10px;

    .title {
      font-weight: bold;
      font-size: 1.3em;
      color: #223843;
      margin-bottom: 10px;
    }

    .info {
      margin: 0;
      line-height: 100%;
      display: flex;
      align-items: center;
    }

    .icon {
      margin-right: 7px;
    }
  }

}

.contact-form {
  width: 40%;
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;


  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

  }

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;

    &::placeholder {
      font-family: 'Lexend', Montserrat, Helvetica,Arial, sans-serif;
      color: rgba(0, 0, 0, 0.3);
    }

  }
  textarea {
    resize: vertical;
  }

  button {
    background-color: $blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;

    &:hover {
      background-color: #4a9dd9;
    }
  }
}

@media screen and (max-width: 965px) {
  .contact-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
  }
  .contact-info {
    width: 95%;
    .description {
      max-width: 50%;
    }
  }
  .contact-form {
    width: 90%;

  }

}

@media screen and (max-width: 540px) {
  .contact-info address {
    width: 90%;
  }
}
